BRAND_NAME=Circlez
ENVIRONMENT_NAME=play1

RDS_HOSTNAME=db.play1.circ.zone
# Please change it to your database user and password
RDS_USERNAME=    # For example tal.r
RDS_PASSWORD=    # We sent you the password when you joined

# Your user in our product (not your database/RDS user, not your AWS user)
PRODUCT_USER_IDENTIFIER=   # For example tal.r@circ.zone
PRODUCT_PASSWORD=

USER_JWT_SECRET_KEY=<your-secret-key-here>

LOGZIO_TOKEN=<your-logzio-token-here>
DEBUG=1




# Local MySQL (for development)
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=contact
MYSQL_PORT=3306

# Cloud MySQL (Circles) - DISABLED
AWS_RDS_HOST=
AWS_RDS_USER=
AWS_RDS_PASSWORD=
AWS_RDS_DATABASE=
AWS_RDS_PORT=3306

# Environment (local/cloud)
ENVIRONMENT=local

# Server Port
PORT=5003
