# TODO: You can add your GitHub user in the end of the line with @ in the beginning
# TODO: In case of -remote please add @circles-zone/react-js-team @circles-zone/react-native-team
* @circles-zone/typescript-team-lead @talr
